In [1]:
import pandas as pd
import re 
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

pd.set_option("display.max_columns",30)
pd.set_option("display.max_colwidth",100)
pd.set_option("display.precision",3)

# Use the file location of your Import.io csv
CSV_PATH=r"H:/jupyter/machinelearning/PythonMachineLearningBlueprints/PMLB Datasets copy/magic.csv"

df=pd.read_csv(CSV_PATH)
df.columns  #输出列标题

Index(['routablemask_link', 'routablemask_link/_text',
       'routablemask_link/_title', 'routablemask_link_numbers',
       'routablemask_content', 'imagebadge_value', 'imagebadge_value_numbers',
       'routable_link', 'routable_link/_text', 'routable_link/_title',
       'routable_link_numbers', 'listingtype_value', 'pricelarge_value',
       'pricelarge_value_prices', 'propertyinfo_value',
       'propertyinfo_value_numbers', 'fineprint_value',
       'fineprint_value_numbers', 'tozcount_number', 'tozfresh_value',
       'tablegrouped_values', 'tablegrouped_values_prices', '_PAGE_NUMBER'],
      dtype='object')

In [4]:
df.head().T    #T 转置

,0,1,2,3,4
routablemask_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routablemask_link/_text,5 photos,10 photos,NaN,9 photos,5 photos
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,5,10,NaN,9,5
routablemask_content,NaN,NaN,NaN,NaN,NaN
imagebadge_value,5 photos,10 photos,NaN,9 photos,5 photos
imagebadge_value_numbers,5,10,NaN,9,5
routable_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routable_link/_text,2 Ellwood St,603 W 140th St,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028"
routable_link/_title,"2 Ellwood St APT 5H, New York, NY Real Estate","603 W 140th St APT 44, New York, NY Real Estate","9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate"
routable_link_numbers,2,603; 140,9; 129; 1,710; 2,413; 84; 8
listingtype_value,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,NaN,NaN,"$1,750/mo","$3,000/mo","$2,300/mo"
pricelarge_value_prices,NaN,NaN,1.75e+03,3e+03,2.3e+03
propertyinfo_value,"2 Ellwood St, New York, NY","603 W 140th St, New York, NY",1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba
propertyinfo_value_numbers,2,603; 140,1; 1,2; 2; 1016,1
fineprint_value,6 matching units,2 matching units,NaN,NaN,NaN
fineprint_value_numbers,6,2,NaN,NaN,NaN
tozcount_number,NaN,NaN,48,1,2
tozfresh_value,Updated today,Updated today,minutes ago,hour ago,hours ago
tablegrouped_values,"1 Bedrooms $1,500+ 1.0 ba -- sqft; 2 Bedrooms $1,750+ 1.0 ba -- sqft","1 Bedrooms $2,100 1.0 ba 800 sqft; 2 Bedrooms $2,595 1.0 ba 1,000 sqft",NaN,NaN,NaN
tablegrouped_values_prices,1500; 1750,2100; 2595,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1

In [9]:
# multiple units
mu=df[df['listingtype_value'].str.contains('Apartments For')]

# single units
su=df[df['listingtype_value'].str.contains('Apartment For')]

len(mu)

161

In [11]:
len(su)

339

In [14]:
len(su[su['pricelarge_value_prices'].isnull()])

0

In [12]:
su['propertyinfo_value']

2                                               1 bd • 1 ba
3                                 2 bds • 2 ba • 1,016 sqft
4                                             Studio • 1 ba
5                                              2 bds • 1 ba
7                                              2 bds • 1 ba
10                                              1 bd • 1 ba
11     1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900
12                                            Studio • 1 ba
13                                              1 bd • 1 ba
17                                              1 bd • 1 ba
18                                            Studio • 1 ba
19                                              1 bd • 1 ba
20                                   1 bd • 1 ba • 700 sqft
21                                              1 bd • 1 ba
23                                 Studio • 1 ba • 487 sqft
24                                             2 bds • 1 ba
27                                   1 bd • 1 ba • 525 sqft
29                                  2 bds • 1 ba • 650 sqft
30                                              1 bd • 1 ba
33                                              1 bd • 1 ba
36                                            Studio • 1 ba
38                                              1 bd • 1 ba
40                    Studio • 1 ba • 406 sqft • Built 1903
42                  Studio • 1 ba • 350 sqft • 465 sqft lot
44                                            Studio • 1 ba
45                                 Studio • 1 ba • 400 sqft
46                      1 bd • 1 ba • 600 sqft • Built 1989
47                                              1 bd • 1 ba
48                                              1 bd • 1 ba
49                      1 bd • 1 ba • 596 sqft • Built 1959
                               ...
450                                 2 bds • 1 ba • 900 sqft
451                                            2 bds • 1 ba
452                                             1 bd • 1 ba
453                                             1 bd • 1 ba
454                                             1 bd • 1 ba
457     Studio • 1 ba • 540 sqft • 2.00 ac lot • Built 1961
458                                            2 bds • 1 ba
459                                           Studio • 1 ba
460                                             1 bd • 1 ba
461                                           Studio • 1 ba
462                              Studio • 1 ba • Built 1993
464                   Studio • 1 ba • 485 sqft • Built 1962
466                                 2 bds • 1 ba • 600 sqft
467                   Studio • 1 ba • 522 sqft • Built 2013
468                   Studio • 1 ba • 480 sqft • Built 1998
470                                           Studio • 1 ba
471                                           Studio • 1 ba
475                     1 bd • 1 ba • 475 sqft • Built 1900
477                                           Studio • 1 ba
479                                  1 bd • 1 ba • 500 sqft
483                                            2 bds • 1 ba
484                                            2 bds • 1 ba
485                                           Studio • 1 ba
486                                Studio • 1 ba • 400 sqft
487                                           Studio • 1 ba
490                                             1 bd • 1 ba
492                                             1 bd • 1 ba
496                                           Studio • 1 ba
497                                Studio • 1 ba • 550 sqft
499                                             1 bd • 1 ba
Name: propertyinfo_value, Length: 339, dtype: object

In [15]:
# 检查没有包含‘bd’或 'Studio'的行数
len(su[~(su['propertyinfo_value'].str.contains('Studio')|su['propertyinfo_value'].str.contains('bd'))])

0

In [20]:
# 检查没有包含‘ba’的行数
len(su[~(su['propertyinfo_value'].str.contains('ba'))])

6

In [29]:
# 选择拥有浴室的房源
no_baths = su[~(su['propertyinfo_value'].str.contains('ba'))]

# 排除缺失了浴室的房源
sucln=su[~su.index.isin(no_baths.index)]

# 使用项目符号进行切分
def parse_info(row):
        if not 'sqft' in row:
            br, ba = row.split('•')[:2]
            sqft = np.nan
        else:
            br, ba, sqft = row.split('•')[:3]                
        return pd.Series({'Beds': br, 'Baths': ba, 'Sqft': sqft})

attr=sucln['propertyinfo_value'].apply(parse_info)

attr

      Baths     Beds         Sqft
2      1 ba    1 bd           NaN
3     2 ba    2 bds    1,016 sqft
4      1 ba  Studio           NaN
5      1 ba   2 bds           NaN
7      1 ba   2 bds           NaN
10     1 ba    1 bd           NaN
11    1 ba     1 bd     496 sqft
12     1 ba  Studio           NaN
13     1 ba    1 bd           NaN
17     1 ba    1 bd           NaN
18     1 ba  Studio           NaN
19     1 ba    1 bd           NaN
20    1 ba     1 bd      700 sqft
21     1 ba    1 bd           NaN
23    1 ba   Studio      487 sqft
24     1 ba   2 bds           NaN
27    1 ba     1 bd      525 sqft
29    1 ba    2 bds      650 sqft
30     1 ba    1 bd           NaN
33     1 ba    1 bd           NaN
36     1 ba  Studio           NaN
38     1 ba    1 bd           NaN
40    1 ba   Studio     406 sqft
42    1 ba   Studio     350 sqft
44     1 ba  Studio           NaN
45    1 ba   Studio      400 sqft
46    1 ba     1 bd     600 sqft
47     1 ba    1 bd           NaN
48     1 ba    1 bd           NaN
49    1 ba     1 bd     596 sqft
..      ...      ...          ...
450   1 ba    2 bds      900 sqft
451    1 ba   2 bds           NaN
452    1 ba    1 bd           NaN
453    1 ba    1 bd           NaN
454    1 ba    1 bd           NaN
457   1 ba   Studio     540 sqft
458    1 ba   2 bds           NaN
459    1 ba  Studio           NaN
460    1 ba    1 bd           NaN
461    1 ba  Studio           NaN
462   1 ba   Studio           NaN
464   1 ba   Studio     485 sqft
466   1 ba    2 bds      600 sqft
467   1 ba   Studio     522 sqft
468   1 ba   Studio     480 sqft
470    1 ba  Studio           NaN
471    1 ba  Studio           NaN
475   1 ba     1 bd     475 sqft
477    1 ba  Studio           NaN
479   1 ba     1 bd      500 sqft
483    1 ba   2 bds           NaN
484    1 ba   2 bds           NaN
485    1 ba  Studio           NaN
486   1 ba   Studio      400 sqft
487    1 ba  Studio           NaN
490    1 ba    1 bd           NaN
492    1 ba    1 bd           NaN
496    1 ba  Studio           NaN
497   1 ba   Studio      550 sqft
499    1 ba    1 bd           NaN

[333 rows x 3 columns]

In [30]:
#在取值中将字符串删除
attr_cln = attr.applymap(lambda x: x.strip().split(' ')[0] if isinstance(x,str) else np.nan)

attr_cln

    Baths    Beds   Sqft
2       1       1    NaN
3       2       2  1,016
4       1  Studio    NaN
5       1       2    NaN
7       1       2    NaN
10      1       1    NaN
11      1       1    496
12      1  Studio    NaN
13      1       1    NaN
17      1       1    NaN
18      1  Studio    NaN
19      1       1    NaN
20      1       1    700
21      1       1    NaN
23      1  Studio    487
24      1       2    NaN
27      1       1    525
29      1       2    650
30      1       1    NaN
33      1       1    NaN
36      1  Studio    NaN
38      1       1    NaN
40      1  Studio    406
42      1  Studio    350
44      1  Studio    NaN
45      1  Studio    400
46      1       1    600
47      1       1    NaN
48      1       1    NaN
49      1       1    596
..    ...     ...    ...
450     1       2    900
451     1       2    NaN
452     1       1    NaN
453     1       1    NaN
454     1       1    NaN
457     1  Studio    540
458     1       2    NaN
459     1  Studio    NaN
460     1       1    NaN
461     1  Studio    NaN
462     1  Studio    NaN
464     1  Studio    485
466     1       2    600
467     1  Studio    522
468     1  Studio    480
470     1  Studio    NaN
471     1  Studio    NaN
475     1       1    475
477     1  Studio    NaN
479     1       1    500
483     1       2    NaN
484     1       2    NaN
485     1  Studio    NaN
486     1  Studio    400
487     1  Studio    NaN
490     1       1    NaN
492     1       1    NaN
496     1  Studio    NaN
497     1  Studio    550
499     1       1    NaN

[333 rows x 3 columns]

In [31]:
sujnd=sucln.join(attr_cln)
sujnd.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN

In [33]:
# parse out zip, floor

def parse_addy(r):
    so_zip = re.search(', NY(\d+)', r)
    so_flr = re.search('(?:APT|#)\s+(\d+)[A-Z]+,', r)
    if so_zip:
        zipc = so_zip.group(1)
    else:
        zipc = np.nan
    if so_flr:
        flr = so_flr.group(1)
    else:
        flr = np.nan
    return pd.Series({'Zip':zipc, 'Floor': flr})

flrzip = sujnd['routable_link/_text'].apply(parse_addy)
flrzip

    Floor    Zip
2     NaN  10035
3       2  10031
4     NaN  10028
5       6  10035
7     NaN  10012
10      4  10036
11      5  10021
12      3  10024
13      2  10023
17      4  10036
18      4  10014
19    NaN  10027
20      4  10023
21    NaN  10009
23    NaN    NaN
24    NaN  10002
27    NaN  10009
29    NaN  10002
30    NaN  10009
33      2  10002
36      2  10013
38    NaN  10002
40    NaN  10004
42      4  10023
44      1  10024
45      3  10024
46      3  10026
47      4  10019
48    NaN  10065
49      6  10037
..    ...    ...
450     2  10032
451     2  10032
452     1  10029
453   NaN  10017
454     3  10075
457     9  10025
458   NaN  10021
459     5  10075
460   NaN  10003
461   NaN    NaN
462   NaN    NaN
464    20  10016
466     2  10011
467   NaN    NaN
468   NaN    NaN
470  1107  10017
471   NaN  10009
475     3  10019
477   NaN  10023
479     2  10024
483     2  10019
484     3  10010
485     2  10022
486     3  10003
487     8  10065
490   NaN  10021
492     4  10028
496     3  10019
497   NaN  10035
499     2  10021

[333 rows x 2 columns]

In [34]:
len(flrzip[~flrzip['Floor'].isnull()])

164

In [35]:
len(flrzip[~flrzip['Zip'].isnull()])

320

In [36]:
suf = sujnd.join(flrzip)
suf.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN
Floor,NaN,2,NaN,6,NaN,4,5,3,2,4,4,NaN,4,NaN,NaN,...,1107,NaN,3,NaN,2,2,3,2,3,8,NaN,4,3,NaN,2
Zip,10035,10031,10028,10035,10012,10036,10021,10024,10023,10036,10014,10027,10023,10009,NaN,...,10017,10009,10019,10023,10024,10019,10010,10022,10003,10065,10021,10028,10019,10035,10021

In [38]:
# we'll reduce the data down to the columns of interest
sudf = suf[['pricelarge_value_prices','Beds','Baths','Sqft','Floor','Zip']]

In [39]:
# we'll also clean up the weird column name
sudf.rename(columns={'pricelarge_value_prices':'Rent'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [40]:
sudf

       Rent    Beds Baths   Sqft Floor    Zip
2    1750.0       1     1    NaN   NaN  10035
3    3000.0       2     2  1,016     2  10031
4    2300.0  Studio     1    NaN   NaN  10028
5    2500.0       2     1    NaN     6  10035
7    2800.0       2     1    NaN   NaN  10012
10   2490.0       1     1    NaN     4  10036
11   2750.0       1     1    496     5  10021
12   2150.0  Studio     1    NaN     3  10024
13   2875.0       1     1    NaN     2  10023
17   2225.0       1     1    NaN     4  10036
18   2450.0  Studio     1    NaN     4  10014
19   1800.0       1     1    NaN   NaN  10027
20   2850.0       1     1    700     4  10023
21   2700.0       1     1    NaN   NaN  10009
23   3000.0  Studio     1    487   NaN    NaN
24   2995.0       2     1    NaN   NaN  10002
27   2700.0       1     1    525   NaN  10009
29   2800.0       2     1    650   NaN  10002
30   2850.0       1     1    NaN   NaN  10009
33   2199.0       1     1    NaN     2  10002
36   2895.0  Studio     1    NaN     2  10013
38   2200.0       1     1    NaN   NaN  10002
40   2600.0  Studio     1    406   NaN  10004
42   2300.0  Studio     1    350     4  10023
44   2400.0  Studio     1    NaN     1  10024
45   2195.0  Studio     1    400     3  10024
46   2800.0       1     1    600     3  10026
47   2495.0       1     1    NaN     4  10019
48   1900.0       1     1    NaN   NaN  10065
49   1815.0       1     1    596     6  10037
..      ...     ...   ...    ...   ...    ...
450  2095.0       2     1    900     2  10032
451  2000.0       2     1    NaN     2  10032
452  2095.0       1     1    NaN     1  10029
453  2250.0       1     1    NaN   NaN  10017
454  2450.0       1     1    NaN     3  10075
457  2500.0  Studio     1    540     9  10025
458  2500.0       2     1    NaN   NaN  10021
459  1800.0  Studio     1    NaN     5  10075
460  2495.0       1     1    NaN   NaN  10003
461  2950.0  Studio     1    NaN   NaN    NaN
462  2950.0  Studio     1    NaN   NaN    NaN
464  2500.0  Studio     1    485    20  10016
466  2595.0       2     1    600     2  10011
467  2965.0  Studio     1    522   NaN    NaN
468  2815.0  Studio     1    480   NaN    NaN
470  2200.0  Studio     1    NaN  1107  10017
471  2195.0  Studio     1    NaN   NaN  10009
475  2995.0       1     1    475     3  10019
477  1895.0  Studio     1    NaN   NaN  10023
479  2493.0       1     1    500     2  10024
483  2925.0       2     1    NaN     2  10019
484  2940.0       2     1    NaN     3  10010
485  2170.0  Studio     1    NaN     2  10022
486  2300.0  Studio     1    400     3  10003
487  2600.0  Studio     1    NaN     8  10065
490  2265.0       1     1    NaN   NaN  10021
492  2150.0       1     1    NaN     4  10028
496  2195.0  Studio     1    NaN     3  10019
497  1795.0  Studio     1    550   NaN  10035
499  2150.0       1     1    NaN     2  10021

[333 rows x 6 columns]

In [41]:
sudf.rename(columns={'Rent':'租金','Beds':'卧室','Baths':'浴室','Sqft':'平方英尺','Floor':'楼层','Zip':'邮政编码'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [42]:
sudf

         租金      卧室 浴室   平方英尺    楼层   邮政编码
2    1750.0       1  1    NaN   NaN  10035
3    3000.0       2  2  1,016     2  10031
4    2300.0  Studio  1    NaN   NaN  10028
5    2500.0       2  1    NaN     6  10035
7    2800.0       2  1    NaN   NaN  10012
10   2490.0       1  1    NaN     4  10036
11   2750.0       1  1    496     5  10021
12   2150.0  Studio  1    NaN     3  10024
13   2875.0       1  1    NaN     2  10023
17   2225.0       1  1    NaN     4  10036
18   2450.0  Studio  1    NaN     4  10014
19   1800.0       1  1    NaN   NaN  10027
20   2850.0       1  1    700     4  10023
21   2700.0       1  1    NaN   NaN  10009
23   3000.0  Studio  1    487   NaN    NaN
24   2995.0       2  1    NaN   NaN  10002
27   2700.0       1  1    525   NaN  10009
29   2800.0       2  1    650   NaN  10002
30   2850.0       1  1    NaN   NaN  10009
33   2199.0       1  1    NaN     2  10002
36   2895.0  Studio  1    NaN     2  10013
38   2200.0       1  1    NaN   NaN  10002
40   2600.0  Studio  1    406   NaN  10004
42   2300.0  Studio  1    350     4  10023
44   2400.0  Studio  1    NaN     1  10024
45   2195.0  Studio  1    400     3  10024
46   2800.0       1  1    600     3  10026
47   2495.0       1  1    NaN     4  10019
48   1900.0       1  1    NaN   NaN  10065
49   1815.0       1  1    596     6  10037
..      ...     ... ..    ...   ...    ...
450  2095.0       2  1    900     2  10032
451  2000.0       2  1    NaN     2  10032
452  2095.0       1  1    NaN     1  10029
453  2250.0       1  1    NaN   NaN  10017
454  2450.0       1  1    NaN     3  10075
457  2500.0  Studio  1    540     9  10025
458  2500.0       2  1    NaN   NaN  10021
459  1800.0  Studio  1    NaN     5  10075
460  2495.0       1  1    NaN   NaN  10003
461  2950.0  Studio  1    NaN   NaN    NaN
462  2950.0  Studio  1    NaN   NaN    NaN
464  2500.0  Studio  1    485    20  10016
466  2595.0       2  1    600     2  10011
467  2965.0  Studio  1    522   NaN    NaN
468  2815.0  Studio  1    480   NaN    NaN
470  2200.0  Studio  1    NaN  1107  10017
471  2195.0  Studio  1    NaN   NaN  10009
475  2995.0       1  1    475     3  10019
477  1895.0  Studio  1    NaN   NaN  10023
479  2493.0       1  1    500     2  10024
483  2925.0       2  1    NaN     2  10019
484  2940.0       2  1    NaN     3  10010
485  2170.0  Studio  1    NaN     2  10022
486  2300.0  Studio  1    400     3  10003
487  2600.0  Studio  1    NaN     8  10065
490  2265.0       1  1    NaN   NaN  10021
492  2150.0       1  1    NaN     4  10028
496  2195.0  Studio  1    NaN     3  10019
497  1795.0  Studio  1    550   NaN  10035
499  2150.0       1  1    NaN     2  10021

[333 rows x 6 columns]

In [43]:
# 重新编号
sudf.reset_index(drop=True,inplace=True)
sudf

         租金      卧室 浴室   平方英尺    楼层   邮政编码
0    1750.0       1  1    NaN   NaN  10035
1    3000.0       2  2  1,016     2  10031
2    2300.0  Studio  1    NaN   NaN  10028
3    2500.0       2  1    NaN     6  10035
4    2800.0       2  1    NaN   NaN  10012
5    2490.0       1  1    NaN     4  10036
6    2750.0       1  1    496     5  10021
7    2150.0  Studio  1    NaN     3  10024
8    2875.0       1  1    NaN     2  10023
9    2225.0       1  1    NaN     4  10036
10   2450.0  Studio  1    NaN     4  10014
11   1800.0       1  1    NaN   NaN  10027
12   2850.0       1  1    700     4  10023
13   2700.0       1  1    NaN   NaN  10009
14   3000.0  Studio  1    487   NaN    NaN
15   2995.0       2  1    NaN   NaN  10002
16   2700.0       1  1    525   NaN  10009
17   2800.0       2  1    650   NaN  10002
18   2850.0       1  1    NaN   NaN  10009
19   2199.0       1  1    NaN     2  10002
20   2895.0  Studio  1    NaN     2  10013
21   2200.0       1  1    NaN   NaN  10002
22   2600.0  Studio  1    406   NaN  10004
23   2300.0  Studio  1    350     4  10023
24   2400.0  Studio  1    NaN     1  10024
25   2195.0  Studio  1    400     3  10024
26   2800.0       1  1    600     3  10026
27   2495.0       1  1    NaN     4  10019
28   1900.0       1  1    NaN   NaN  10065
29   1815.0       1  1    596     6  10037
..      ...     ... ..    ...   ...    ...
303  2095.0       2  1    900     2  10032
304  2000.0       2  1    NaN     2  10032
305  2095.0       1  1    NaN     1  10029
306  2250.0       1  1    NaN   NaN  10017
307  2450.0       1  1    NaN     3  10075
308  2500.0  Studio  1    540     9  10025
309  2500.0       2  1    NaN   NaN  10021
310  1800.0  Studio  1    NaN     5  10075
311  2495.0       1  1    NaN   NaN  10003
312  2950.0  Studio  1    NaN   NaN    NaN
313  2950.0  Studio  1    NaN   NaN    NaN
314  2500.0  Studio  1    485    20  10016
315  2595.0       2  1    600     2  10011
316  2965.0  Studio  1    522   NaN    NaN
317  2815.0  Studio  1    480   NaN    NaN
318  2200.0  Studio  1    NaN  1107  10017
319  2195.0  Studio  1    NaN   NaN  10009
320  2995.0       1  1    475     3  10019
321  1895.0  Studio  1    NaN   NaN  10023
322  2493.0       1  1    500     2  10024
323  2925.0       2  1    NaN     2  10019
324  2940.0       2  1    NaN     3  10010
325  2170.0  Studio  1    NaN     2  10022
326  2300.0  Studio  1    400     3  10003
327  2600.0  Studio  1    NaN     8  10065
328  2265.0       1  1    NaN   NaN  10021
329  2150.0       1  1    NaN     4  10028
330  2195.0  Studio  1    NaN     3  10019
331  1795.0  Studio  1    550   NaN  10035
332  2150.0       1  1    NaN     2  10021

[333 rows x 6 columns]

In [44]:
sudf.describe()

             租金
count   333.000
mean   2492.628
std     366.882
min    1500.000
25%    2200.000
50%    2525.000
75%    2800.000
max    3000.000

In [46]:
# we'll replace 'Studio' with 0 where present
sudf.loc[:,'卧室'] = sudf['卧室'].map(lambda x: 0 if 'Studio' in x else x)
sudf

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

         租金 卧室 浴室   平方英尺    楼层   邮政编码
0    1750.0  1  1    NaN   NaN  10035
1    3000.0  2  2  1,016     2  10031
2    2300.0  0  1    NaN   NaN  10028
3    2500.0  2  1    NaN     6  10035
4    2800.0  2  1    NaN   NaN  10012
5    2490.0  1  1    NaN     4  10036
6    2750.0  1  1    496     5  10021
7    2150.0  0  1    NaN     3  10024
8    2875.0  1  1    NaN     2  10023
9    2225.0  1  1    NaN     4  10036
10   2450.0  0  1    NaN     4  10014
11   1800.0  1  1    NaN   NaN  10027
12   2850.0  1  1    700     4  10023
13   2700.0  1  1    NaN   NaN  10009
14   3000.0  0  1    487   NaN    NaN
15   2995.0  2  1    NaN   NaN  10002
16   2700.0  1  1    525   NaN  10009
17   2800.0  2  1    650   NaN  10002
18   2850.0  1  1    NaN   NaN  10009
19   2199.0  1  1    NaN     2  10002
20   2895.0  0  1    NaN     2  10013
21   2200.0  1  1    NaN   NaN  10002
22   2600.0  0  1    406   NaN  10004
23   2300.0  0  1    350     4  10023
24   2400.0  0  1    NaN     1  10024
25   2195.0  0  1    400     3  10024
26   2800.0  1  1    600     3  10026
27   2495.0  1  1    NaN     4  10019
28   1900.0  1  1    NaN   NaN  10065
29   1815.0  1  1    596     6  10037
..      ... .. ..    ...   ...    ...
303  2095.0  2  1    900     2  10032
304  2000.0  2  1    NaN     2  10032
305  2095.0  1  1    NaN     1  10029
306  2250.0  1  1    NaN   NaN  10017
307  2450.0  1  1    NaN     3  10075
308  2500.0  0  1    540     9  10025
309  2500.0  2  1    NaN   NaN  10021
310  1800.0  0  1    NaN     5  10075
311  2495.0  1  1    NaN   NaN  10003
312  2950.0  0  1    NaN   NaN    NaN
313  2950.0  0  1    NaN   NaN    NaN
314  2500.0  0  1    485    20  10016
315  2595.0  2  1    600     2  10011
316  2965.0  0  1    522   NaN    NaN
317  2815.0  0  1    480   NaN    NaN
318  2200.0  0  1    NaN  1107  10017
319  2195.0  0  1    NaN   NaN  10009
320  2995.0  1  1    475     3  10019
321  1895.0  0  1    NaN   NaN  10023
322  2493.0  1  1    500     2  10024
323  2925.0  2  1    NaN     2  10019
324  2940.0  2  1    NaN     3  10010
325  2170.0  0  1    NaN     2  10022
326  2300.0  0  1    400     3  10003
327  2600.0  0  1    NaN     8  10065
328  2265.0  1  1    NaN   NaN  10021
329  2150.0  1  1    NaN     4  10028
330  2195.0  0  1    NaN     3  10019
331  1795.0  0  1    550   NaN  10035
332  2150.0  1  1    NaN     2  10021

[333 rows x 6 columns]

In [47]:
# we're not getting stats on 'Beds','Baths', and 'Floor' because of the datatype
sudf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
租金      333 non-null float64
卧室      333 non-null object
浴室      333 non-null object
平方英尺    108 non-null object
楼层      164 non-null object
邮政编码    320 non-null object
dtypes: float64(1), object(5)
memory usage: 15.7+ KB

In [48]:
sudf.rename(columns={'租金':'Rent','卧室':'Beds','浴室':'Baths','平方英尺':'Sqft','楼层':'Floor','邮政编码':'Zip'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [49]:
# 修改每一列的数据类型
# let's fix the datatype for the columns
sudf.loc[:,'Rent'] = sudf['Rent'].astype(int)
sudf.loc[:,'Beds'] = sudf['Beds'].astype(int)

# half baths require a float
sudf.loc[:,'Baths'] = sudf['Baths'].astype(float)

# with NaNs we need float, but we have to replace commas first
sudf.loc[:,'Sqft'] = sudf['Sqft'].str.replace(',','')

sudf.loc[:,'Sqft'] = sudf['Sqft'].astype(float)
sudf.loc[:,'Floor'] = sudf['Floor'].astype(float)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [50]:
sudf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
Rent     333 non-null int32
Beds     333 non-null int32
Baths    333 non-null float64
Sqft     108 non-null float64
Floor    164 non-null float64
Zip      320 non-null object
dtypes: float64(3), int32(2), object(1)
memory usage: 13.1+ KB

In [51]:
sudf.describe()

           Rent     Beds    Baths      Sqft     Floor
count   333.000  333.000  333.000   108.000   164.000
mean   2492.628    0.820    1.008   528.981    11.201
std     366.882    0.718    0.082   133.050    86.178
min    1500.000    0.000    1.000   280.000     1.000
25%    2200.000    0.000    1.000   447.500     2.000
50%    2525.000    1.000    1.000   512.000     4.000
75%    2800.000    1.000    1.000   600.000     5.000
max    3000.000    3.000    2.000  1090.000  1107.000

In [52]:
sudf[sudf['Floor']>5]

     Rent  Beds  Baths   Sqft   Floor    Zip
3    2500     2    1.0    NaN     6.0  10035
29   1815     1    1.0  596.0     6.0  10037
43   1815     1    1.0  596.0     6.0  10037
44   2950     0    1.0    NaN     7.0  10036
59   3000     0    1.0  541.0     9.0  10013
74   2295     1    1.0    NaN    11.0  10002
77   2999     1    1.0    NaN    12.0  10012
87   2350     2    1.0  550.0     6.0  10003
93   2550     0    1.0  425.0    14.0  10006
110  2400     0    1.0  550.0     8.0  10002
158  2299     0    1.0    NaN     8.0  10006
165  2788     1    1.0  514.0     9.0  10006
166  2950     1    1.0  530.0    10.0  10002
179  2595     0    1.0  438.0     7.0  10002
183  2250     1    1.0    NaN     6.0  10009
190  2950     1    1.0  550.0     6.0  10280
193  2995     2    1.0  550.0     6.0  10038
198  2800     0    1.0  687.0    14.0  10038
209  2950     1    1.0  522.0    16.0  10017
213  2995     0    1.0  583.0    11.0  10004
221  2525     0    1.0    NaN    16.0  10038
223  2650     0    1.0  452.0    32.0  10005
232  2699     0    1.0  500.0     7.0  10003
233  2000     0    1.0    NaN     7.0  10038
245  2600     0    1.0  496.0     9.0  10038
246  2545     0    1.0  620.0    14.0  10280
290  3000     1    1.0  400.0     9.0  10017
296  2975     0    1.0    NaN     9.0  10001
297  2350     0    1.0  500.0    10.0  10016
308  2500     0    1.0  540.0     9.0  10025
314  2500     0    1.0  485.0    20.0  10016
318  2200     0    1.0    NaN  1107.0  10017
327  2600     0    1.0    NaN     8.0  10065

In [53]:
sudf=sudf.drop([318])

In [54]:
sudf.describe()

           Rent     Beds    Baths      Sqft    Floor
count   332.000  332.000  332.000   108.000  163.000
mean   2493.509    0.822    1.008   528.981    4.479
std     367.083    0.718    0.082   133.050    3.861
min    1500.000    0.000    1.000   280.000    1.000
25%    2200.000    0.000    1.000   447.500    2.000
50%    2527.500    1.000    1.000   512.000    4.000
75%    2800.000    1.000    1.000   600.000    5.000
max    3000.000    3.000    2.000  1090.000   32.000

In [55]:
sudf.pivot_table('Rent','Zip','Beds',aggfunc='mean')

Beds          0         1         2       3
Zip
10001  2737.500       NaN       NaN     NaN
10002  2283.438  2422.513  2792.647     NaN
10003  2109.889  2487.812  2525.000     NaN
10004  2798.750  2850.000       NaN     NaN
10005  2516.000       NaN       NaN     NaN
10006  2611.000  2788.000       NaN     NaN
10009  2200.909  2568.441  2530.000     NaN
10010       NaN  2299.000  2940.000     NaN
10011  2774.667  2852.000  2595.000     NaN
10012  2547.000  2744.909  2581.667     NaN
10013  2709.286  2584.444  2650.000     NaN
10014  2450.000       NaN       NaN     NaN
10016  2615.000  2450.000       NaN     NaN
10017       NaN  2733.333       NaN     NaN
10019  2195.000  2661.667  2925.000     NaN
10021  1900.000  2388.333  2500.000     NaN
10022  2170.000       NaN       NaN     NaN
10023  2165.000  2773.333       NaN     NaN
10024  2322.500  2621.500       NaN     NaN
10025  2500.000       NaN       NaN     NaN
10026       NaN  2800.000       NaN     NaN
10027       NaN  1850.000       NaN     NaN
10028  2100.000  2333.333       NaN     NaN
10029  1597.500  2097.500  2650.000     NaN
10031       NaN       NaN  2531.250  2700.0
10032       NaN       NaN  2047.500  2350.0
10033       NaN  1825.000       NaN     NaN
10034       NaN       NaN  1900.000     NaN
10035  1795.000  1948.333  2350.000     NaN
10036  2950.000  2357.500  2700.000     NaN
10037       NaN  1815.000       NaN     NaN
10038  2602.222  2395.000  2647.500     NaN
10040       NaN  1550.000       NaN     NaN
10065  2547.500  2131.667       NaN     NaN
10075  2000.000  2625.000  2695.000     NaN
10128       NaN       NaN  2900.000     NaN
10280  2695.000  2972.500       NaN     NaN
11101       NaN       NaN  2393.000     NaN
11206       NaN       NaN  2600.000     NaN
11209       NaN       NaN  1995.000     NaN
11229       NaN  2595.000       NaN     NaN

In [ ]:
su_lt_two=sudf[sudf['Beds']<2]

In [ ]:
import folium

map = folium.Map(location=[40.748817, -73.985428], zoom_start=13)
map.geo_json(geo_path=r'C:/Users/Administrator/Desktop/nyc.geojson', data=su_lt_two,
             columns=['Zip', 'Rent'],
             key_on='feature.properties.postalCode',
             threshold_scale=[1700.00, 1900.00, 2100.00, 2300.00, 2500.00, 2750.00],
             fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.2,
             legend_name='Rent (%)',
              reset=True)
map.create_map(path='nyc.html')

sudf